.dark .social-icon {
  filter: brightness(2.5) sepia(25%);

  &:active,
  &:hover {
    // blueish
    filter: brightness(1.25) sepia(285%) hue-rotate(160deg) saturate(500%);
  }
}

a.social-icon {
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;

  &:active,
  &:hover {
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);
  }

  img {
    width: 1.25rem;
    vertical-align: middle;
    margin: 0;
    margin-left: 0.5em;
  }
}

// a.social-icon:active, a.social-icon:hover {
//   filter: sepia(100%) hue-rotate(190deg) saturate(500%);
// }
