$size: 3.75rem;
.fab {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  width: $size;
  height: $size;
  border-radius: 3rem;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  background: #007acc;
  box-shadow: 0px 8px 12px #2b2b2b50;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  -webkit-tap-highlight-color: transparent;
  &:active {
    background: #0063ac;
    box-shadow: 0px 2px 12px #2b2b2b50;
  }
}

.dark .fab {
  background: #007acc85;
  // inspiration: https://ray.so/
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.6);
}
