$size: 3.75rem;
.fab {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  width: $size;
  height: $size;
  border-radius: 3rem;
  // background: var(--primary);
  background: #007acc;
  box-shadow: 0px 8px 12px #2b2b2b50;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  -webkit-tap-highlight-color: transparent;
  &:active {
    background: #0063ac;
    box-shadow: 0px 2px 12px #2b2b2b50;
  }
}

.dark .fab {
  // backdrop-filter: blur(8px);
}
