.ToCs {
  /* magic number */
  position: fixed;
  bottom: 0px;
  right: 0;
  width: calc(50vw - 368px);
  font-size: 10px;
}
.ToCs ul {
  border-left: 1px solid #86868638;
  padding-left: 2rem;
  list-style: none;
}
.ToCs li {
  margin-bottom: 0.375rem;
}
.ToCs a {
  /* color: none; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: none;
  color: #8c8c8c;
  transition: color 0.2s ease-in;
}

.ToCs a.isActive {
  color: var(--textLink);
  font-weight: bold;
}

@media (max-width: 1268px) {
  .ToCs {
    display: none;
  }
}
