html {
  scroll-behavior: smooth;
}

.ToCs {
  font-size: 0.675rem;
  border-left: 0.5px solid var(--hr);
  padding: 0 2rem;

  ul {
    list-style: none;
    margin: 0;
  }

  li,
  p {
    line-height: 1.25em;
    margin-bottom: 1.25em;
  }

  li:last-child {
    margin-bottom: 0;
  }

  li > ul {
    // second level
    margin-left: 0.75rem;
  }

  li {
    a {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      box-shadow: none;
      color: #8c8c8c;
      transition: color 0.2s ease-in;
    }

    &.is-active a {
      color: var(--textLink);
      font-weight: bold;
    }
  }
}
