
.ToCs {
  font-size: 0.675rem;
  border-left: 0.5px solid var(--hr);
  // padding: 0 2rem;

  .isActive {
    border-left: 2px solid var(--textNormal);
    margin-left: -1px
  }

  .dir a {
    padding-left: 1rem;
    line-height: 1.5rem;
  }

  .subdir a {
    padding-left: 1.75rem
  }

  a {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: none;
    color: #8c8c8c;
    transition: color 0.2s ease-in;

    &.isActive {
      color: var(--textLink);
      font-weight: bold;
    }
  }
}
