---
const { title } = Astro.props
---
<div class="font-sans collapse rounded text-primary-content bg-primary/90 my-5 shadow">
    <input type="checkbox" />
    <div class="collapse-title text-xl font-medium">
        { title }
    </div>
    <div class="collapse-content full-bleed-none">
        <slot />
    </div>
</div>