---
import MyAvatar from "@/components/MyAvatar.astro";
---

<section class="flex items-center gap-2">
    <MyAvatar size={32} />
    <p class="font-display text-2xl text-base-content/85">Blog</p>
</section>
