---
interface Props {

}
---

<h2
  class="flex font-bold items-center text-primary stroke-primary border-base-content/50 pt-2 w-full mb-4 bg-base-100 font-sans align-middle"
>
  <span class="mr-1">
    <slot name="icon"/>
  </span>
  <slot />
</h2>
