---
import { Image } from "astro:assets";
const techStacks = [
    { name: "Kotlin", logoBW: "./TechGrid/KotlinMonochromeLogoBlack.svg" },
    { name: "Temporal.io" },
    { name: "tailwindcss" },
    { name: "Jetpack Compose" },
    { name: "astro" },
];



import kotlinLogoBW  from "./TechGrid/KotlinMonochromeLogoBlack.svg";
---

<div class="ring-1 ring-base-content/25 rounded shadow overflow-clip h-72">
    <div class="relative flex flex-wrap gap-2">
        {
            techStacks.map((techStack) => (
                <div class="ring-1 ring-base-content/5 w-36 h-20 rounded text-center hover:shadow-md justify-center flex items-center py-0 px-2">
                     <Image src={kotlinLogoBW} alt={techStack.name} class="m-0"/>
                </div>
            ))
        }
    </div>
</div>
