.lc-card {
  display: flex;
  align-items: center;

  img {
    display: block;
    margin: 0 .75em 0 0;
    filter: saturate(1.25);
  }
}

.lc-level {
  &.easy {
    color: #4CAF50;
  }

  &.medium {
    color: #F9A825;
  }

  &.hard {
    color: #FF5722;
  }
}

.dark .lc-level {
  &.medium {
    color: #ffc951;
  }
}

.lc-attributes {
  font-family: "Zilla Slab", sans-serif;
  //font-family: "JetBrains Mono", sans-serif;
}

.lc-title {
  margin-bottom: 0;
  font-size: 1.125em;
  a {
    color: var(--textNormal);
  }
}


.ordn {
  font-variant: ordinal;
}