.dp {
  .is-active {
    background: #E3F2FD;
  }

  .explanation .is-active {
    font-size: .875em;
    padding: .25em;
    border-radius: 6px;
  }

  .is-comparing {
    color: #D81B60;
    font-weight: bold;
  }
}

.dark {
  .is-active {
    background: #1976D2
  }
  .is-comparing {
    color: #F06292;
  }
}

.dp-table {
  display: block;
  margin: 0 auto;
  font-family: "JetBrains Mono", Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  cursor: pointer;
  width: auto;
  text-align: center;
  overflow-x: scroll;

  tbody {
    display: inline-block;
    margin: 0 auto;
    width: auto;
  }

  tr {
    display: flex;
    width: auto;
  }

  $size: 2.5em;

  td, th {
    display: block;
    width: $size;
    height: $size;
    //line-height: 24px;
    padding: 8px;
    text-align: center;
  }


}

.explanation {
  p, ol, ul {
    margin-bottom: 1em;
  }

  margin-top: 1.75em;
}